body {
  margin: 0;
  padding: 0;
  /* background-color: rgba(124, 252, 0, 0.8); */
}
ol,
ul {
  list-style: none;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px 0;
  border-bottom: 2px solid green;
}

.form {
  display: flex;
}

.input {
  width: 450px;
  height: 40px;
}

.button {
  display: block;
  background-color: brown;
  border: 1px solid tomato;
  color: #fff;
  padding: 10px 50px;
  min-width: 150px;
}

.text {
  flex-grow: 2;
  line-height: 3;
  margin: 0;
  padding: 0 15px;
  font-size: 20px;
}
.date {
  margin: 0;
  text-align: end;
  padding-top: 5px;
  padding-right: 5px;
}
.checked {
  opacity: 0.5;
}

.body {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-auto-rows: 325px;
  grid-gap: 12px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  dding-top: 30px;
}
.item {
  position: relative;
  cursor: grab;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 2px 1px -1px rgb(0 0 0 / 12%);
}
.gu-mirror {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid;
  text-align: left;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  background: #fff;
  cursor: -webkit-grabbing;
}
.gu-hide {
  display: none;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
  list-style: none;
}

.done {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.done.is-checked {
  background-color: green;
}
